{% extends 'stark/layout.html' %}
{% block css %}
    <style>
        .change input,select {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    .line{
        margin: 5px;
        display: inline;
    }
    select{
            width: 300px;
    }
    .col-sm-10>input{
        {#  width: 300px;#}
        {#  padding: 30px;#}
        margin: 0;
    }
     .col-sm-6{

         padding: 0;
     }
    </style>

{% endblock %}
{% block content %}
    <div style="width: 680px;margin: 0 auto;">
        <form class="change" method="post">
            {% csrf_token %}
            {% for filed in form %}
                <div class="form-group row ">


                    <div class="col-sm-2 ">{{ filed.label }}</div>
                    <div class="col-sm-6">
                       {{ filed }}
                    </div>
                    <div  class="col-sm-4">
                         {% if filed.help_text %}
                             <button type="button" class="btn btn-primary"  onclick="popUp('{{ filed.help_text }}')">+</button>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="">
                   <button type="submit" class="btn btn-default pull-left">Submit</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
        function success(id,name) {
           var tag = document.createElement('option');
            tag.value = id;
            tag.innerText = name;
            tag.selected = "selected";
            $('#id_user').append(tag);
        }
        function popUp(url) {
            window.open(url,'x1',"status=1, height=500, width=750, toolbar=0, resizeable=0")
        }


    </script>

{% endblock %}